################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/src/appsettings.json
/backend/src/appsettings.json
